In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('Student_Mental_health.csv')

In [4]:
df

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,8/7/2020 12:02,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No
1,8/7/2020 12:04,Male,21.0,Islamic education,year 2,3.00 - 3.49,No,No,Yes,No,No
2,8/7/2020 12:05,Male,19.0,BIT,Year 1,3.00 - 3.49,No,Yes,Yes,Yes,No
3,8/7/2020 12:06,Female,22.0,Laws,year 3,3.00 - 3.49,Yes,Yes,No,No,No
4,8/7/2020 12:13,Male,23.0,Mathemathics,year 4,3.00 - 3.49,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...
96,13/07/2020 19:56:49,Female,21.0,BCS,year 1,3.50 - 4.00,No,No,Yes,No,No
97,13/07/2020 21:21:42,Male,18.0,Engineering,Year 2,3.00 - 3.49,No,Yes,Yes,No,No
98,13/07/2020 21:22:56,Female,19.0,Nursing,Year 3,3.50 - 4.00,Yes,Yes,No,Yes,No
99,13/07/2020 21:23:57,Female,23.0,Pendidikan Islam,year 4,3.50 - 4.00,No,No,No,No,No
100,18/07/2020 20:16:21,Male,20.0,Biomedical science,Year 2,3.00 - 3.49,No,No,No,No,No

In [38]:
# Assuming 'df' is your DataFrame containing the dataset
df.rename(columns={
    'Time stamp': 'Time_Stamp',
    'Choose your gender': 'Gender',
    'Age': 'Age',
    'What is your course?': 'Course',
    'Your current year of Study': 'Current_Year',
    'What is your CGPA?': 'CGPA',
    'Marital status': 'Marital_Status',
    'Do you have Depression?': 'Depression',
    'Do you have Anxiety?': 'Anxiety',
    'Do you have Panic attack?': 'Panic_Attacks',
    'Did you seek any specialist for a treatment?': 'Treatment'
}, inplace=True)

In [39]:
# Lower case of column Gender
df['Gender'] = df['Gender'].str.lower()

df['Gender'].unique()

array(['female', 'male'], dtype=object)

In [40]:
# Calculate the average age, excluding NaN values
average_age = df['Age'].mean()

# Replace NaN values in the 'Age' column with the calculated average age
df['Age'].fillna(average_age, inplace=True)

nan_count = df['Age'].isna().sum()
print(f"Number of NaN values in the 'Age' column: {nan_count}")

df['Age'] = df['Age'].dropna().astype(int)

df['Age'].unique()

Number of NaN values in the 'Age' column: 0

array([18, 21, 19, 22, 23, 20, 24])

In [41]:
df['Course'] = df['Course'].str.lower()

df['Course'].unique()

array(['engineering', 'islamic education', 'bit', 'laws', 'mathemathics',
       'pendidikan islam', 'bcs', 'human resources', 'irkhs',
       'psychology', 'kenms', 'accounting ', 'enm', 'marine science',
       'koe', 'banking studies', 'business administration', 'law',
       'kirkhs', 'usuluddin ', 'taasl', 'engine', 'ala',
       'biomedical science', 'benl', 'it', 'cts', 'engin', 'econs',
       'mhsc', 'malcom', 'kop', 'human sciences ', 'biotechnology',
       'communication ', 'diploma nursing', 'pendidikan islam ',
       'radiography', 'fiqh fatwa ', 'diploma tesl', 'fiqh', 'nursing '],
      dtype=object)

In [42]:
# Lower case of column Current_Year
df['Current_Year'] = df['Current_Year'].str.lower()

df['Current_Year'].unique()

array(['year 1', 'year 2', 'year 3', 'year 4'], dtype=object)

In [48]:
#df['Marital_Status'] = df['Marital_Status'].str.lower()
df['Marital_Status'] = df['Marital_Status'].str.lower()
df['Marital_Status'].unique()

array(['no', 'yes'], dtype=object)

In [49]:
df['Depression'] = df['Depression'].str.lower()
df['Depression'].unique()

array(['yes', 'no'], dtype=object)

In [ ]:
df['Anxiety'] = df['Depression'].str.lower()
df['Depression'].unique()

In [51]:
df['Panic_Attacks'] = df['Panic_Attacks'].str.lower()
df['Panic_Attacks'].unique()

array(['yes', 'no'], dtype=object)

In [50]:
df['Treatment'] = df['Treatment'].str.lower()
df['Treatment'].unique()

array(['no', 'yes'], dtype=object)

In [53]:
df = df.drop(columns=['Timestamp'])
df

,Gender,Age,Course,Current_Year,CGPA,Marital_Status,Depression,Anxiety,Panic_Attacks,Treatment
0,female,18,engineering,year 1,3.00 - 3.49,no,yes,No,yes,no
1,male,21,islamic education,year 2,3.00 - 3.49,no,no,Yes,no,no
2,male,19,bit,year 1,3.00 - 3.49,no,yes,Yes,yes,no
3,female,22,laws,year 3,3.00 - 3.49,yes,yes,No,no,no
4,male,23,mathemathics,year 4,3.00 - 3.49,no,no,No,no,no
...,...,...,...,...,...,...,...,...,...,...
96,female,21,bcs,year 1,3.50 - 4.00,no,no,Yes,no,no
97,male,18,engineering,year 2,3.00 - 3.49,no,yes,Yes,no,no
98,female,19,nursing,year 3,3.50 - 4.00,yes,yes,No,yes,no
99,female,23,pendidikan islam,year 4,3.50 - 4.00,no,no,No,no,no
100,male,20,biomedical science,year 2,3.00 - 3.49,no,no,No,no,no

#### Generate 1400 rows of data

In [56]:
import random

n_additional_rows = 1400

# Create a dictionary to store the unique values for each column
unique_values = {
    'Gender': df['Gender'].unique(),
    'Age': df['Age'].unique(),
    'Course': df['Course'].unique(),
    'Current_Year': df['Current_Year'].unique(),
    'CGPA': df['CGPA'].unique(),
    'Marital_Status': df['Marital_Status'].unique(),
    'Depression': df['Depression'].unique(),
    'Anxiety': df['Anxiety'].unique(),
    'Panic_Attacks': df['Panic_Attacks'].unique(),
    'Treatment': df['Treatment'].unique()
}

# Generate additional rows with random combinations of unique values
new_data = []
for _ in range(n_additional_rows):
    row = {
        'Gender': random.choice(unique_values['Gender']),
        'Age': random.choice(unique_values['Age']),
        'Course': random.choice(unique_values['Course']),
        'Current_Year': random.choice(unique_values['Current_Year']),
        'CGPA': random.choice(unique_values['CGPA']),
        'Marital_Status': random.choice(unique_values['Marital_Status']),
        'Depression': random.choice(unique_values['Depression']),
        'Anxiety': random.choice(unique_values['Anxiety']),
        'Panic_Attacks': random.choice(unique_values['Panic_Attacks']),
        'Treatment': random.choice(unique_values['Treatment'])
    }
    new_data.append(row)

# Create a new DataFrame with the original data and the generated data
new_df = pd.concat([df, pd.DataFrame(new_data)], ignore_index=True)

# The 'new_df' DataFrame now contains the original data plus 1400 additional rows with random combinations of unique values.

In [62]:
column_data_types = new_df.dtypes

# Print the data types of each column
print(column_data_types)

Gender            object
Age                int64
Course            object
Current_Year      object
CGPA              object
Marital_Status    object
Depression        object
Anxiety           object
Panic_Attacks     object
Treatment         object
dtype: object

In [63]:
# Export new dataset to csv
new_df.to_csv('output_file.csv', index=False)