In [19]:
import numpy as np
import pandas as pd
import random

file = pd.read_csv('fertility.csv')

In [20]:
file

,Season,Age,Childish diseases,Accident or serious trauma,Surgical intervention,High fevers in the last year,Frequency of alcohol consumption,Smoking habit,Number of hours spent sitting per day,Diagnosis
0,spring,30,no,yes,yes,more than 3 months ago,once a week,occasional,16,Normal
1,spring,35,yes,no,yes,more than 3 months ago,once a week,daily,6,Altered
2,spring,27,yes,no,no,more than 3 months ago,hardly ever or never,never,9,Normal
3,spring,32,no,yes,yes,more than 3 months ago,hardly ever or never,never,7,Normal
4,spring,30,yes,yes,no,more than 3 months ago,once a week,never,9,Altered
...,...,...,...,...,...,...,...,...,...,...
95,winter,30,yes,no,no,more than 3 months ago,hardly ever or never,never,9,Normal
96,winter,29,yes,no,no,more than 3 months ago,once a week,occasional,9,Normal
97,winter,30,yes,yes,yes,more than 3 months ago,hardly ever or never,never,6,Normal
98,winter,30,yes,no,yes,more than 3 months ago,hardly ever or never,occasional,3,Normal
99,winter,30,no,yes,yes,more than 3 months ago,several times a week,never,3,Normal

# Treatment of the dataset

In [21]:
file.rename(columns={'Diagnosis' : 'Blood sample results'}, inplace=True)
file.drop(columns=['High fevers in the last year', 'Number of hours spent sitting per day', 'Season'],
           inplace=True)

In [22]:
file

,Age,Childish diseases,Accident or serious trauma,Surgical intervention,Frequency of alcohol consumption,Smoking habit,Blood sample results
0,30,no,yes,yes,once a week,occasional,Normal
1,35,yes,no,yes,once a week,daily,Altered
2,27,yes,no,no,hardly ever or never,never,Normal
3,32,no,yes,yes,hardly ever or never,never,Normal
4,30,yes,yes,no,once a week,never,Altered
...,...,...,...,...,...,...,...
95,30,yes,no,no,hardly ever or never,never,Normal
96,29,yes,no,no,once a week,occasional,Normal
97,30,yes,yes,yes,hardly ever or never,never,Normal
98,30,yes,no,yes,hardly ever or never,occasional,Normal
99,30,no,yes,yes,several times a week,never,Normal

In [23]:
cc = 10000000

race = ["White non-Hispanic", "Asian", "Hispanic (of any race)", "Caucasian", "Black"]

eye_color = ["Black", "Brown", "Green", "Blue"]

height = [140, 230]

weight = [40, 150]

sperm_quality = ["High", "Average", "Low"]

degree = ["12 grade", "Banchelor", "Master", "PhD", "Other"]

job = ["Doctor", "Teacher", "Engineer", "Nurse", "Lawyer", "Programmer", "Dentist", "Architect", "Artist",
       "Chef", "Scientist", "Police officer", "Firefighter", "Writer", "Musician", "Accountant", "Pharmacist",
       "Mechanic", "Designer", "Veterinarian", "Electrician", "Plumber", "Actor", "Journalist", "Librarian",
       "Psychologist", "Pilot", "Singer", "Paramedic", "Physician", "Phlebotomist", "Truck driver", "Farmer", 
       "Chemist", "Surgeon", "Veterinary technician", "Waiter/waitress", "Hairdresser", "Banker", "graphic designer",
]

genetic_result = ["Normal", "Altered"]
orientation = ["Heterosexual", "Homosexual", "Bisexual", "Pansexual", "Asexual", "Demisexual", "Queer", "Questioning",
               "Polysexual", "Androgynosexual", "Skoliosexual", "Sapiosexual", "Autosexual", "Graysexual", "Aromantic",
               "Biromantic", "Homoromantic", "Panromantic", "Demiromantic", "Lithromantic",
]

In [24]:
rows = 100

more_columns = file.assign(
    cl1 = [cc + i * 7 for i in range(100)],
    cl2 = [random.choice(race) for i in range(100)],
    cl3 = [random.choice(eye_color) for i in range(100)],
    cl4 = [random.randint(height[0], height[1]) for i in range(100)],
    cl5 = [random.randint(weight[0], weight[1]) for i in range(100)],
    cl6 = [random.choice(sperm_quality) for i in range(100)],
    cl7 = [random.choice(degree) for i in range(100)],
    cl8 = [random.choice(job) for i in range(100)],
    cl9 = [random.choice(genetic_result) for i in range(100)],
    cl10 = [random.choice(orientation) for i in range(100)]
)

more_columns.rename(columns={'cl1' : 'Identification number', 'cl2' : 'Race', 'cl3' : 'Eye color', 'cl4' : 'Height', 'cl5' : 'Weight', 'cl6' : 'Sperm quality', 'cl7' : 'Degree', 'cl8' : 'Job', 'cl9' : 'Genetic results', 'cl10' : 'Sexual Orientation'}, inplace=True)

In [25]:
#more_columns.to_csv('all_columns.csv', index=False)
more_columns

,Age,Childish diseases,Accident or serious trauma,Surgical intervention,Frequency of alcohol consumption,Smoking habit,Blood sample results,Identification number,Race,Eye color,Height,Weight,Sperm quality,Degree,Job,Genetic results,Sexual Orientation
0,30,no,yes,yes,once a week,occasional,Normal,10000000,Hispanic (of any race),Black,156,144,Average,PhD,Librarian,Normal,Polysexual
1,35,yes,no,yes,once a week,daily,Altered,10000007,Caucasian,Brown,159,61,Average,Master,Singer,Altered,Queer
2,27,yes,no,no,hardly ever or never,never,Normal,10000014,Caucasian,Blue,223,120,Average,12 grade,Pharmacist,Normal,Skoliosexual
3,32,no,yes,yes,hardly ever or never,never,Normal,10000021,White non-Hispanic,Black,163,47,Average,Other,Engineer,Altered,Biromantic
4,30,yes,yes,no,once a week,never,Altered,10000028,White non-Hispanic,Green,208,76,Low,Other,Police officer,Altered,Homoromantic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,30,yes,no,no,hardly ever or never,never,Normal,10000665,Asian,Brown,183,112,High,Banchelor,Hairdresser,Normal,Bisexual
96,29,yes,no,no,once a week,occasional,Normal,10000672,Asian,Blue,215,128,High,PhD,Hairdresser,Altered,Asexual
97,30,yes,yes,yes,hardly ever or never,never,Normal,10000679,Hispanic (of any race),Black,215,44,Low,Other,Dentist,Altered,Questioning
98,30,yes,no,yes,hardly ever or never,occasional,Normal,10000686,Hispanic (of any race),Brown,207,57,Low,PhD,Physician,Normal,Androgynosexual
99,30,no,yes,yes,several times a week,never,Normal,10000693,Asian,Brown,208,138,Average,PhD,Lawyer,Altered,Androgynosexual

#### Generate 1400 rows of data

In [26]:
#all_columns = pd.read_csv('all_columns.csv')

rows = 1400

values = {
    'Age': file['Age'].unique(),
    'Childish diseases': file['Childish diseases'].unique(),
    'Accident or serious trauma': file['Accident or serious trauma'].unique(),
    'Surgical intervention': file['Surgical intervention'].unique(),
    'Frequency of alcohol consumption': file['Frequency of alcohol consumption'].unique(),
    'Smoking habit': file['Smoking habit'].unique(),
    'Blood sample results': file['Blood sample results'].unique()
}


data = []
for i in range(rows):
    row = {
        'Age': random.choice(values['Age']),
        'Childish diseases': random.choice(values['Childish diseases']),
        'Accident or serious trauma': random.choice(values['Accident or serious trauma']),
        'Surgical intervention': random.choice(values['Surgical intervention']),
        'Frequency of alcohol consumption': random.choice(values['Frequency of alcohol consumption']),
        'Smoking habit': random.choice(values['Smoking habit']),
        'Blood sample results': random.choice(values['Blood sample results']),
        'Identification number' : cc,
        'Race' : random.choice(race),
        'Eye color' : random.choice(eye_color),
        'Height' : random.randint(height[0], height[1]), 
        'Weight' : random.randint(weight[0], weight[1]), 
        'Sperm quality': random.choice(sperm_quality), 
        'Degree' : random.choice(degree), 
        'Job' : random.choice(job), 
        'Genetic results' : random.choice(genetic_result), 
        'Sexual Orientation' : random.choice(orientation)
    }
    cc += 10
    data.append(row)

new_file = pd.concat([more_columns, pd.DataFrame(data)], ignore_index=True)

new_file.to_csv('dataset_with_1500_rows.csv', index=False)

In [27]:
new_file

,Age,Childish diseases,Accident or serious trauma,Surgical intervention,Frequency of alcohol consumption,Smoking habit,Blood sample results,Identification number,Race,Eye color,Height,Weight,Sperm quality,Degree,Job,Genetic results,Sexual Orientation
0,30,no,yes,yes,once a week,occasional,Normal,10000000,Hispanic (of any race),Black,156,144,Average,PhD,Librarian,Normal,Polysexual
1,35,yes,no,yes,once a week,daily,Altered,10000007,Caucasian,Brown,159,61,Average,Master,Singer,Altered,Queer
2,27,yes,no,no,hardly ever or never,never,Normal,10000014,Caucasian,Blue,223,120,Average,12 grade,Pharmacist,Normal,Skoliosexual
3,32,no,yes,yes,hardly ever or never,never,Normal,10000021,White non-Hispanic,Black,163,47,Average,Other,Engineer,Altered,Biromantic
4,30,yes,yes,no,once a week,never,Altered,10000028,White non-Hispanic,Green,208,76,Low,Other,Police officer,Altered,Homoromantic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,29,yes,no,no,every day,occasional,Altered,10013950,Black,Blue,196,106,High,PhD,Doctor,Normal,Pansexual
1496,27,no,yes,no,hardly ever or never,daily,Normal,10013960,White non-Hispanic,Blue,153,114,Average,Master,Hairdresser,Normal,Aromantic
1497,33,yes,no,no,once a week,daily,Normal,10013970,Black,Blue,215,87,Low,Master,Chemist,Normal,Homosexual
1498,35,no,yes,no,hardly ever or never,daily,Altered,10013980,Asian,Brown,209,118,Low,12 grade,Veterinarian,Normal,Androgynosexual
1499,27,yes,yes,yes,several times a week,daily,Normal,10013990,Asian,Black,165,112,Average,PhD,Banker,Altered,Homoromantic