In [151]:
import numpy as np
import pandas as pd
import random

file = pd.read_csv('fertility.csv')

In [152]:
file

,Season,Age,Childish diseases,Accident or serious trauma,Surgical intervention,High fevers in the last year,Frequency of alcohol consumption,Smoking habit,Number of hours spent sitting per day,Diagnosis
0,spring,30,no,yes,yes,more than 3 months ago,once a week,occasional,16,Normal
1,spring,35,yes,no,yes,more than 3 months ago,once a week,daily,6,Altered
2,spring,27,yes,no,no,more than 3 months ago,hardly ever or never,never,9,Normal
3,spring,32,no,yes,yes,more than 3 months ago,hardly ever or never,never,7,Normal
4,spring,30,yes,yes,no,more than 3 months ago,once a week,never,9,Altered
...,...,...,...,...,...,...,...,...,...,...
95,winter,30,yes,no,no,more than 3 months ago,hardly ever or never,never,9,Normal
96,winter,29,yes,no,no,more than 3 months ago,once a week,occasional,9,Normal
97,winter,30,yes,yes,yes,more than 3 months ago,hardly ever or never,never,6,Normal
98,winter,30,yes,no,yes,more than 3 months ago,hardly ever or never,occasional,3,Normal
99,winter,30,no,yes,yes,more than 3 months ago,several times a week,never,3,Normal

# Treatment of the dataset

In [153]:
file.rename(columns={'Diagnosis' : 'Blood sample results'}, inplace=True)
file.drop(columns=['High fevers in the last year', 'Number of hours spent sitting per day', 'Season'],
           inplace=True)

In [154]:
file

,Age,Childish diseases,Accident or serious trauma,Surgical intervention,Frequency of alcohol consumption,Smoking habit,Blood sample results
0,30,no,yes,yes,once a week,occasional,Normal
1,35,yes,no,yes,once a week,daily,Altered
2,27,yes,no,no,hardly ever or never,never,Normal
3,32,no,yes,yes,hardly ever or never,never,Normal
4,30,yes,yes,no,once a week,never,Altered
...,...,...,...,...,...,...,...
95,30,yes,no,no,hardly ever or never,never,Normal
96,29,yes,no,no,once a week,occasional,Normal
97,30,yes,yes,yes,hardly ever or never,never,Normal
98,30,yes,no,yes,hardly ever or never,occasional,Normal
99,30,no,yes,yes,several times a week,never,Normal

In [155]:
cc = 10000000

race = ["white non-Hispanic", "asian", "hispanic (of any race)", "caucasian", "black"]

eye_color = ["black", "brown", "green", "blue"]

height = [140, 230]

weight = [40, 150]

sperm_quality = ["high", "average", "low"]

degree = ["12 grade", "banchelor", "master", "phD", "other"]

job = ["doctor", "teacher", "engineer", "nurse", "lawyer", "programmer", "dentist", "architect", "artist",
       "chef", "scientist", "police officer", "firefighter", "writer", "musician", "accountant", "pharmacist",
       "mechanic", "designer", "veterinarian", "electrician", "plumber", "actor", "journalist", "librarian",
       "psychologist", "pilot", "singer", "paramedic", "physician", "phlebotomist", "truck driver", "farmer", 
       "chemist", "surgeon", "veterinary technician", "waiter/waitress", "fairdresser", "banker", "graphic designer"
]

genetic_result = ["normal", "altered"]

orientation = ["pansexual", "asexual", "demisexual", "queer", "questioning",
               "polysexual", "androgynosexual", "skoliosexual", "sapiosexual", "autosexual", "graysexual", "aromantic",
               "biromantic", "homoromantic", "panromantic", "demiromantic", "lithromantic"
]

psyc_evaluation = ["passed", "failed"]

In [156]:
rows = len(file)

os = []

for i in range(rows):
    r = random.randint(1, 100)
    if r <= 80:
        os.append("heterosexual")
    elif r > 80 and r <= 90:
        os.append("homosexual")
    elif r > 90 and r <= 95:
        os.append("bisexual")
    else:
        os.append(random.choice(orientation))

p = []
for i in range(rows):
    preocupations = ["animal abuse", "racism", "machismo", "homophobia", "global warming", "xenophobia"]

    r = random.randint(0, len(preocupations))
    string = ''
    for i in range(r):
        choice = random.choice(preocupations)
        if i == r - 1:
            string += choice
        else:
            string += choice + ', '
        preocupations.pop(preocupations.index(choice))
    p.append(string)

more_columns = file.assign(
    cl1 = [cc + i * 7 for i in range(100)],
    cl2 = [random.choice(race) for _ in range(100)],
    cl3 = [random.choice(eye_color) for _ in range(100)],
    cl4 = [random.randint(height[0], height[1]) for _ in range(100)],
    cl5 = [random.randint(weight[0], weight[1]) for _ in range(100)],
    cl6 = [random.choice(sperm_quality) for _ in range(100)],
    cl7 = [random.choice(degree) for _ in range(100)],
    cl8 = [random.choice(job) for _ in range(100)],
    cl9 = [random.choice(genetic_result) for _ in range(100)],
    cl10 = [random.choice(psyc_evaluation) for _ in range(100)],
    cl11 = os,
    cl12 = p
)

    

more_columns.rename(columns={'cl1' : 'Health number', 'cl2' : 'Race', 'cl3' : 'Eye color', 'cl4' : 'Height', 'cl5' : 'Weight', 'cl6' : 'Sperm quality', 'cl7' : 'Degree', 'cl8' : 'Job', 'cl9' : 'Genetic results', 'cl10' : 'Psycological evaluation', 'cl11' : 'Sexual orientation', 'cl12' : 'Preocupations'}, inplace=True)

In [157]:
more_columns

,Age,Childish diseases,Accident or serious trauma,Surgical intervention,Frequency of alcohol consumption,Smoking habit,Blood sample results,Health number,Race,Eye color,Height,Weight,Sperm quality,Degree,Job,Genetic results,Psycological evaluation,Sexual orientation,Preocupations
0,30,no,yes,yes,once a week,occasional,Normal,10000000,hispanic (of any race),black,171,119,low,phD,mechanic,normal,failed,homosexual,"animal abuse, machismo, xenophobia, racism, ho..."
1,35,yes,no,yes,once a week,daily,Altered,10000007,hispanic (of any race),brown,179,58,average,master,actor,normal,failed,heterosexual,"racism, machismo, animal abuse"
2,27,yes,no,no,hardly ever or never,never,Normal,10000014,hispanic (of any race),black,169,61,average,12 grade,physician,altered,failed,heterosexual,"machismo, racism, global warming, animal abuse..."
3,32,no,yes,yes,hardly ever or never,never,Normal,10000021,black,black,145,49,low,master,surgeon,normal,failed,heterosexual,
4,30,yes,yes,no,once a week,never,Altered,10000028,hispanic (of any race),brown,198,48,low,master,waiter/waitress,altered,failed,heterosexual,"animal abuse, machismo"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,30,yes,no,no,hardly ever or never,never,Normal,10000665,black,brown,148,68,low,phD,designer,normal,passed,heterosexual,"xenophobia, machismo, animal abuse, racism, gl..."
96,29,yes,no,no,once a week,occasional,Normal,10000672,black,blue,209,109,low,12 grade,mechanic,normal,passed,homosexual,"animal abuse, homophobia, global warming, raci..."
97,30,yes,yes,yes,hardly ever or never,never,Normal,10000679,white non-Hispanic,blue,200,102,average,phD,programmer,altered,failed,heterosexual,
98,30,yes,no,yes,hardly ever or never,occasional,Normal,10000686,asian,blue,147,45,high,other,physician,normal,passed,heterosexual,"global warming, homophobia, animal abuse, mach..."
99,30,no,yes,yes,several times a week,never,Normal,10000693,hispanic (of any race),black,182,60,low,master,journalist,normal,passed,heterosexual,"global warming, machismo"

#### Generate 1400 rows of data

In [158]:
rows = 1400

values = {
    'Age': file['Age'].unique(),
    'Childish diseases': file['Childish diseases'].unique(),
    'Accident or serious trauma': file['Accident or serious trauma'].unique(),
    'Surgical intervention': file['Surgical intervention'].unique(),
    'Frequency of alcohol consumption': file['Frequency of alcohol consumption'].unique(),
    'Smoking habit': file['Smoking habit'].unique(),
    'Blood sample results': file['Blood sample results'].unique()
}
print(values['Smoking habit'])


data = []
for i in range(rows):
    row = {
        'Age': random.choice(values['Age']),
        'Childish diseases': random.choice(values['Childish diseases']),
        'Accident or serious trauma': random.choice(values['Accident or serious trauma']),
        'Surgical intervention': random.choice(values['Surgical intervention']),
        'Frequency of alcohol consumption': random.choice(values['Frequency of alcohol consumption']),
        'Smoking habit': random.choice(values['Smoking habit']),
        'Blood sample results': random.choice(values['Blood sample results']),
        'Health number' : cc,
        'Race' : random.choice(race),
        'Eye color' : random.choice(eye_color),
        'Height' : random.randint(height[0], height[1]), 
        'Weight' : random.randint(weight[0], weight[1]), 
        'Sperm quality': random.choice(sperm_quality), 
        'Degree' : random.choice(degree), 
        'Job' : random.choice(job), 
        'Genetic results' : random.choice(genetic_result), 
        'Sexual orientation' : None,
        'Psycological evaluation' : random.choice(psyc_evaluation),
        'Preocupations' : None
    }
    r = random.randint(1, 100)
    if r <= 80:
        row["Sexual orientation"] = "heterosexual"
    elif r > 80 and r <= 90:
        row["Sexual orientation"] = "homosexual"
    elif r > 90 and r <= 95:
        row["Sexual orientation"] = "bisexual"
    else:
        row["Sexual orientation"] = random.choice(orientation)

    preocupations = ["animal abuse", "racism", "machismo", "homophobia", "global warming", "xenophobia"]

    r = random.randint(0, len(preocupations))
    string = ''
    for i in range(r):
        choice = random.choice(preocupations)
        if i == r - 1:
            string += choice
        else:
            string += choice + ', '
        preocupations.pop(preocupations.index(choice))
    row["Preocupations"] = string

    cc += 10
    data.append(row)



new_file = pd.concat([more_columns, pd.DataFrame(data)], ignore_index=True)

new_file.to_csv('dataset_with_1500_rows.csv', index=False)

['occasional' 'daily' 'never']

In [159]:
new_file

,Age,Childish diseases,Accident or serious trauma,Surgical intervention,Frequency of alcohol consumption,Smoking habit,Blood sample results,Health number,Race,Eye color,Height,Weight,Sperm quality,Degree,Job,Genetic results,Psycological evaluation,Sexual orientation,Preocupations
0,30,no,yes,yes,once a week,occasional,Normal,10000000,hispanic (of any race),black,171,119,low,phD,mechanic,normal,failed,homosexual,"animal abuse, machismo, xenophobia, racism, ho..."
1,35,yes,no,yes,once a week,daily,Altered,10000007,hispanic (of any race),brown,179,58,average,master,actor,normal,failed,heterosexual,"racism, machismo, animal abuse"
2,27,yes,no,no,hardly ever or never,never,Normal,10000014,hispanic (of any race),black,169,61,average,12 grade,physician,altered,failed,heterosexual,"machismo, racism, global warming, animal abuse..."
3,32,no,yes,yes,hardly ever or never,never,Normal,10000021,black,black,145,49,low,master,surgeon,normal,failed,heterosexual,
4,30,yes,yes,no,once a week,never,Altered,10000028,hispanic (of any race),brown,198,48,low,master,waiter/waitress,altered,failed,heterosexual,"animal abuse, machismo"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,36,yes,yes,yes,hardly ever or never,daily,Altered,10013950,caucasian,brown,201,127,low,other,librarian,altered,failed,androgynosexual,"machismo, animal abuse, xenophobia, global war..."
1496,35,no,yes,yes,every day,never,Normal,10013960,caucasian,black,148,134,high,master,doctor,altered,failed,heterosexual,"xenophobia, machismo, homophobia, racism, glob..."
1497,31,yes,yes,no,several times a day,occasional,Altered,10013970,black,brown,168,132,low,other,paramedic,normal,passed,homosexual,"machismo, animal abuse, racism, homophobia, xe..."
1498,29,yes,yes,no,hardly ever or never,daily,Normal,10013980,white non-Hispanic,brown,167,114,average,other,scientist,altered,passed,heterosexual,"global warming, homophobia, machismo, xenophob..."
1499,30,yes,no,no,several times a day,never,Altered,10013990,caucasian,brown,223,59,high,banchelor,actor,altered,passed,bisexual,"xenophobia, animal abuse, racism"